/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/*CSS Reset*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font: 100%/150% 'Open Sans', sans-serif;

}

h1, .h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: white;
  padding: .25em;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  margin: 0 1em;
}

.logo, nav {
  flex: 1;
}

header a:hover {
  background-color: #C6C6D0;
  border-radius: 5px;
}

nav ul {
  display: flex;

}

nav li {
  flex-grow: 1;
  list-style: none;
  text-align: right;
  font-size: 1.5em;
}

.hero {
  margin: auto auto 4em;
  max-width: 32em;
  text-align: center;
}

.wrapper {
  background: url(/assets/img/hero.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
}

.main-content {
  width: 85%;
  margin: 0 auto;
}

rect, line {
  fill: transparent;
  stroke: white;
  stroke-width: 5;
}

@media (min-width: 32em){

  header {
    flex-direction: row;
  }

}
