/*min-width and flex wrap on blog posts*/


/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/*CSS Reset*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font: 100%/150% 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: white;
  padding: .25em;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  position: fixed;
  width: 100%;
}

.logo, nav {
  flex: 1;
  text-align: center;
}

.logo {
  margin-left: 1.5em;
}

nav a:hover {
  background-color: #C6C6D0;
  border-radius: 5px;
}

nav ul {
  display: flex;

}

nav li {
  flex-grow: 1;
  list-style: none;
  text-align: center;
  font-size: 1.5em;
}

footer {
  width: 80%;
  border-top: 1px solid black;
  margin: 1em auto;
  padding: 1em;
}

/*footer a {
  padding: 1em;
}*/

footer img {
  height: 2em;
}

.fixed {
  background-color: white;
  z-index: 1;
}

.hero {
  margin: auto auto 4em;
  max-width: 32em;
  text-align: center;
}

.recent {
  background-color: #CFCFD1;
}

.wrapper {
  background: url(/assets/img/hero.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
}

.main-content {
  width: 90%;
  margin: 8em auto;
}

.blog-wrapper {
  margin: 2em auto;
  /*border-bottom: 1px solid black;*/
  padding: 2em;
}

.blog-posts {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.post {
  flex: 1;
  padding: 0 1em 1em 1em;
  margin: 1em 0;
  max-width: 32em;
}

.recent {
  background-color: #cfcfd1;
}

rect, line {
  fill: transparent;
  stroke: white;
  stroke-width: 5;
}

@media (min-width: 32em){

  header {
    flex-direction: row;
  }

  .logo {
    text-align: left;
  }

  .blog-wrapper {
    margin: 8em auto;
  }
}

@media (min-width: 66em) {
  .blog-posts {
    flex-direction: row;
  }

  .post {
    margin: 1em;
  }

  .recent {
    margin: 1em 2em 1em 1em;
  }
}
